<header>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="bootstrap-icons.svg#newspaper"></use></svg>
        <span class="fs-4">News App</span>
      </a>

      <ul class="nav">
        <li class="nav-item"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/users" class="nav-link">Users</a></li>
      </ul>
    </header>
  </div>
</header>
<div class="container">

  <app-navbar></app-navbar>
  <div class="wrapper">
    <app-sidebar class="sidebar"></app-sidebar>
    <router-outlet class="content"></router-outlet>
  </div>
</div>